<a href="https://colab.research.google.com/github/ValentiLo/02.01_TECHNOLOGY_RAZRABOTKY/blob/main/1_%D0%A2%D0%B8%D0%BF%D1%8B_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
0.Ввод и вывод

В Python есть 4 примитивных типа данных:)

1. int (целые числа)

In [ ]:
age = 18
print(age)
print('Это целое число')

18
Это целое число

2. float (дробные числа)

In [ ]:
fraction = 2.5
print(fraction)
print('Это дробное число')

2.5
Это дробное число

3. str(строки)

In [ ]:
fruit = 'apple'
print(fruit)
print('Это текст. Строковый тип данных')

apple
Это текст. Строковый тип данных

4. bool (правда или ложь). Логический тип данных. Имеет всего два значения: True и False

In [ ]:
isReady = True
print(isReady)

True

In [ ]:
isReady = 0
print(isReady==1)   # в скобках операция сравнения

False

Мы можем преобразовывать один тип данных в другой с помощью одноименных функций. Например, число может стать строкой, строка - числом, дробное число - целым.

In [ ]:
age = '22'              # str -> '22'    # строка
int_age = int(age)      # int -> 22      # целые числа
float_age = float(age)  # float -> 22.0  # дробные числа
bool_age = bool(age)    # bool -> True   # логический тип
print(age)
print(int_age)
print(float_age)
print(bool_age)

22
22
22.0
True

In [ ]:
Выяснить тип данных можно с помощью type(age)

In [ ]:
print(type(age))
print(type(int_age))
print(type(float_age))
print(type(bool_age))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Функция print() может принимать несколько входных параметров.

In [ ]:
print(1, 2, 3)

1 2 3

In [ ]:
print(age,int_age,float_age,bool_age)

22 22 22.0 True

Каждый print() выводит данные на новой строке. По умолчанию завершающий символ строки равен символу новой строки (\n).

In [ ]:
print('Hello')
print('world')

Hello
world

Завершающий символ строки в функции print() можно изменять.

In [ ]:
print('Hello', end=' ')
print('world')

Hello world

In [ ]:
print('Hello', end='')
print('world')

Helloworld

In [ ]:
print('Hello', end='*******')
print('world')

Hello*******world

Функция input() принимает пользовательский ввод данных.

In [ ]:
name = input()
print('Hello ' + name)

 аня

Hello аня

После запуска скрипта Python будет ожидать ввода данных

Функция input может принимать всего лишь один аргумент - строку, которая выведется перед входной строкой и подскажет пользователю, что именно надо ввести.

In [ ]:
name = input('Enter your name: ')
print('Hello, ' + name)

Enter your name:  Аня

Hello, Аня

Данные, полученные с помощью функции input(), имеют строковый тип данных (str)

In [ ]:
number = input('Введите число: ')
print(type(number))

Введите число:  5

<class 'str'>

Строки можно складывать друг с другом, такое сложение называется их конкатенацией или объединением.

In [ ]:
# Сумма двух строчных чисел
number1 = input('Введите число: ')
number2 = input('Введите число: ')
print(number1 + number2)

Введите число:  1
Введите число:  5

15

Преобразуем строковый тип в целое число (str -> int).

In [ ]:
number = input('Введите число: ')
print(type(number))
int_number = int(number)
print(type(int_number))

Введите число:  5

<class 'str'>
<class 'int'>

In [ ]:
# Исправленная сумма двух чисел
number1 = int(input('Введите число: '))
number2 = int(input('Введите число: '))
print(number1 + number2)

Введите число:  6
Введите число:  7

13

Примеры

In [ ]:
1. Произведение

In [ ]:
# Произведение двух введенных чисел
a = int(input('Введите число: '))
b = int(input('Введите число: '))
print(a * b)

Введите число:  2
Введите число:  5

10

In [ ]:
2. Приветствие

In [ ]:
# Приветствие пользователя по его имени
firstname = input('Введите свое имя: ') # здесь приводить к типу int не нужно
lastname = input('Введите свою фамилию: ')
print('Здравствуйте, ' + firstname + ' ' + lastname) # не забудьте про пробел между словами

Введите свое имя:  Анна
Введите свою фамилию:  Иванова

Здравствуйте, Анна Иванова

In [ ]:
3. Остаток

In [ ]:
# Операция % позволяет получить остаток от деления
print(10 % 2) # 0, так как 10 делится на 2 нацело
print(10 % 3) # 1, остаток равен 1
print(10 % 4) # 2, остаток равен 2

0
1
2

In [ ]:
4. Деление нацело

In [ ]:
# Операция // позволяет получить целую часть от деления
print(10 // 2) # 5
print(10 // 3) # 3
print(10 // 4) # 2

5
3
2

Решение задач

1. Сумма трех
Посчитайте сумму трех введенных целых чисел

In [ ]:
2. Площадь
Пользователь вводит стороны прямоугольника, выведите его площадь

In [ ]:
3. Периметр
Пользователь вводит стороны прямоугольника, выведите его периметр

In [ ]:
4. Площадь круга
Пользователь вводит радиус круга, выведите площадь круга

In [ ]:
# Ввод:
>> 2
# Вывод:
>> 12.56

In [ ]:
5. Сумма дробных
Посчитайте сумму трех введенных дробных чисел.

# Ввод:
>> 1.5
>> 2.5
>> 1.1
# Вывод:
>> 5.1

6. Школьники и яблоки
n школьников делят k яблок поровну, неделящийся остаток остается в корзинке. Сколько яблок достанется каждому школьнику? Сколько яблок останется в корзинке?

# Ввод:
>> 10
>> 3
# Вывод:
>> 3 # каждому
>> 1 # останется

In [ ]:
1. Операторы в Python

В языке программирования Python есть арифметические, логические и операторы сравнения.

In [ ]:
# Cложение
print(10 + 30)

40

In [ ]:
# Вычитание
print(30 - 20)

10

In [ ]:
# Умножение
print(2 * 9)

In [ ]:
# Деление
print(100 / 25)

Кроме всем знакомой четверки есть и несколько экзотических операторов: взятие остатка от деления, деление нацело, возведение в степень.

% Взятие остатка от деления: %

In [ ]:
# Взятие остатка от деления на 2
print(0 % 2)
print(1 % 2)
print(2 % 2)
print(3 % 2)
print(4 % 2)

0
1
0
1
0

In [ ]:
# Взятие остатка от деления на 3
print(0 % 3)
print(1 % 3)
print(2 % 3)
print(3 % 3)
print(4 % 3)
print(5 % 3)
print(6 % 3)

0
1
2
0
1
2
0

// Деление нацело: //

In [ ]:
# Деление нацело на 10
print(91 // 10)
print(85 // 10)
print(16 // 10)
print(8 // 10)

9
8
1
0

In [ ]:
# Деление нацело на 2
print(14 // 2)
print(15 // 2)
print(7 // 2)
print(6 // 2)

7
7
3
3

** Возведение в степень: **

In [ ]:
# Возведение в степень числа 2
print(2 ** 0) # 1
print(2 ** 1) # 2
print(2 ** 2) # 2 * 2
print(2 ** 3) # 2 * 2 * 2
print(2 ** 4) # 2 * 2 * 2 * 2

1
2
4
8
16

Операторы сравнения могут возвращать всего два результата: True и False.

Оператор равенства == возвращает True, если числа равны, и False в противном случае.

In [ ]:
a = 10
b = 10
print(a == b)

True

In [ ]:
a = 9
b = 3
print(a == b)

False

Оператор неравенства != возвращает True, если числа не равны, и False в противном случае.

In [ ]:
a = 5
b = 3
print(a != b)

True

Оператор больше > возвращает True, если первое число больше второго, и False в противном случае.

In [ ]:
a = 5
b = 3
print(a > b)
print(b > a)

True
False

Оператор меньше < возвращает True, если первое число меньше второго, и False в противном случае.

In [ ]:
c = 100
d = 200
print(c < d)
print(d < c)

True
False

Оператор меньше или равно <= возвращает True, если первое число меньше второго или равно ему, и False в противном случае.

Оператор больше или равно >= возвращает True, если первое число больше второго или равно ему, и False в противном случае.

In [ ]:
c = 200
d = 200
print(c >= d)
print(d <= c)

True
True

Иногда требуются выполнение нескольких операторов сравнения сразу. Для таких целей существует оператор and (оператор логического умножения, конъюнкция).

In [ ]:
print(10 > 0 and 5 > 0)
print(10 % 2 == 0 and 12 % 2 == 0) # оба числа четные

True
True

Если хотя бы один из операторов равен False, то результат оператора будет равен False. Конъюкция истинна в том случае, когда все условия истинны.

In [ ]:
print(10 > 100 and 5 > 0 and 10 > 0) # False

False

Логическое сложение (дизъюнкция) или оператор or требует выполнения ХОТЯ БЫ одного условия.

In [ ]:
print(10 > 100 or 5 > 100 or 10 > 0) # True
print(1 == 0 or 2 == 0) # False, оба условия ложны

True
False

Последний из операторов - это оператор инверсии not. Оператор not изменяет (инвертирует) значение на противоположное.

In [ ]:
print(not False) # True
print(not True) # False
print(not 2 == 0) # True

True
False
True

Оператор not выполняется в приоритете.

In [ ]:
print(not 1 == 0 or 2 == 0) # True, значение первого условия инвертировано

True

Решение задач

1. Одинаковая четность

Даны два целых числа: A, B. Проверить истинность высказывания: "Числа A и B имеют одинаковую четность".

# Ввод:
>> 0
>> 1
# Вывод:
>> False

2. Одно положительное

Даны три целых числа: A, B, C. Проверить истинность высказывания: "Хотя бы одно из чисел A, B, C положительное".

# Ввод:
>> 0
>> -1
>> -10
# Вывод:
>> False

# Ввод:
>> -1
>> 1
>> 0
# Вывод:
>> True

3. Последняя цифра

Дано натуральное число. Выведите его последнюю цифру.

# Ввод:
>> 2345678
# Вывод:
>> 8

# Ввод:
>> 19
# Вывод:
>> 9

4. Цифры двузначного

Дано двузначное число. Найдите сумму его цифр.

# Ввод:
>> 22
# Вывод:
>> 4

# Ввод:
>> 99
# Вывод:
>> 18

5. Цифры трехзначного

Дано трехзначное число. Найдите сумму его цифр.

# Ввод:
>>123
# Вывод:
>> 6

# Ввод:
>> 332
# Вывод:
>> 8

6. Разные цифры

Дано трехзначное число. Проверить истинность высказывания: "Все цифры данного числа различны".

# Ввод:
>> 123
# Вывод:
>> True

# Ввод:
>> 332
# Вывод:
>> False

7. Часы (финальный босс)

С начала суток прошло N секунд (N - целое). Найти количество часов, минут и секунд на электронных часах.

# Ввод:
>> 1000
# Вывод:
>> 0 16 40

# Ввод:
>> 10000
# Вывод:
>> 2 46 40

# Ввод:
>> 85001
# Вывод:
>> 23 36 41